@import '../const';

.rating {
  position: relative;
	display: inline-block;
  margin-right: 25px;

	// .rating__items
	&__items {
	  display: flex;
	  flex-direction: row-reverse;
	  overflow: hidden;
	}
	// .rating__item
	&__item {
    width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		//opacity: 0;
		//visibility: hidden;
		clip: rect(0,0,0,0);

    &:checked ~ .rating__label,
    &:checked + .rating__label:hover,
    &:checked:hover ~ .rating__label {
      &::after {
        opacity: 1;
      }
    }
    
    &:hover ~ .rating__label {
      &::after {
        opacity: 0.5;
      }
    }

	}
	// .rating__label
	&__label {
    flex: 0 0 24px;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url(../rate-button/star_border.svg) center / 20px no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../rate-button/star.svg) center / 20px no-repeat;
      opacity: 0;
      transition: all $t ease;
    }

	} 
}
