//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;

$inactive-txt: #999999;
$inactive-txt2: #dadada;
$form-txt1: #666666;
$inactive-svg: #dddddd; 
$price-txt: #333333;
$active: #1ab9ce;
$catrt-bg1: #4da0b9;
$catrt-bg2: #f68038; 
$catrt-bg2-h: #da6d2a;
$catrt-bg3: #e6e6e6;
$active-bg1: #068292;
$hover-bg1: #098494;  
$menu-txt: #36949f;
$border-clr: #72c9d4;
$t: .5s;

$html-fsize: 16;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

html._lock  {
	overflow: hidden;
}

picture {
    line-height: 0;
    font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	/* &._loaded {

	} */
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	
	@media (max-width: $md4+px) {
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
@import "nouislider";
@import "pagging";
@import "popup";
@import "header";
@import "main";
@import "footer";
@import "home";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

